<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Pokemon</title>
</head>
<body>
    <h1>Buscar Pokemon</h1>
    <form method="POST" action="{{url_for('Search')}}">
        <label for="entry">Numero del Pokemon:</label>
        <input type="number"  name="entry" id="entry" required/>
        
        <button type="submit">Buscar</button>
    </form>
    <a href="{{url_for('index')}}">Volver al Menú Principal</a>
</body>
</html>